body{
    background-image: url(fundo.jpg);
    background-size: cover;
}
h1{
    font-size: 60px;
    text-align: center;
    text-shadow: 7px 6px 12px #000000;
    color: hsl(204, 100%, 99%);
}
p{
    color: hsl(204, 100%, 99%); ;
}
li{
    font-size: 17px;
}